.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 5rem;
    width: 100%;

    &__tile {
        display: grid;
        grid-template-rows: 20rem min-content max-content 1fr max-content;

        overflow: hidden;

        border-radius: $radius-small;
        box-shadow: var(--shadow);
    }

    &__img {
        display: grid;
        filter: brightness(90%);
        overflow: hidden;
        
        img {
            width: 100%;
            filter: blur(.15rem) brightness(80%);
        }
    }

    &__heading {
        background-color: var(--color-primary-light);
        filter: brightness(95%);
        border-radius: 2rem;
        box-shadow: var(--shadow);
        padding: 1.6rem 3.5rem;

        justify-self: center;
        transform: translateY(-50%);
    }

    &__list {
        list-style-image: url('/img/svg/list-svg.svg');
        font-size: 1.6rem;
        font-family: $reading-font;
        line-height: 1.5;
        margin: 0 4rem;

        & li:not(:last-child) {
            padding-bottom: 1rem;
        }
    }

    &__tags {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 3rem;
        align-self: end;
        margin: 1.1rem 0 0 2.58rem;
    }

    &__tag {
        display: flex;
        align-items: center;

        &-svg {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-green);
        }

        &-name {
            font-family: $reading-font;
            font-size: 1.4rem;
            color: var(--color-black-light);
            font-weight: 700;
            padding-left: .4rem;
            text-transform: uppercase;
        }
    }

    // sourse code and view button
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;

        align-self: end;
        align-items: end;
        padding: 2rem;
        margin-top: 2rem;
    }
}