// (education page self learning section)
.wide-tiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

    @include respond($small) {
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    }

    align-items: start;
    grid-gap: 4rem;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__tile {
        background-color: var(--color-pure-white);
        border-radius: $radius-small;
        box-shadow: var(--shadow);
        padding: 2rem;

        &:not(:first-child) {
            margin-top: 4rem;
        }
    }


    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    // Cousre image
    &__img {
        display: block;
        flex: 0 0 4.2rem;
        margin-right: 1rem;
        width: 4.2rem;
        height: auto;
        
        .body--dark-mode & {
            filter: brightness(150%) saturate(200%);
        }
    }


    &__info {
        padding: 2rem 1rem;

        display: grid;
        grid-row-gap: 1rem;
    }

    &__date, &__duration {
        display: flex;
        align-items: center;

        & p {
            font-family: $reading-font;
            color: var(--color-black);
            padding-left: 1.8rem;
            font-size: 1.6rem;
            font-weight: 600;
        }

        & svg {
            width: 2.2rem;
            height: 2.2rem;
            fill: var(--color-secondary);
            stroke: var(--color-secondary);
        }
    }

    &__duration {
        & svg {
            width: 2.1rem;
            height: 2.1rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .button {
            align-self: flex-end;
        }

        @include respond($small) {
            flex-direction: column;
            
            & .button {
                align-self: start;
            }

            & > *:last-child {
                margin-top: 2rem;
                align-self: stretch;
                align-items: center;
                justify-content: space-between;
            }

            & .button--hidden {
                display: none;
            }
        }
    }

    &__open .plus {
        &__horizontal {
            transform: rotate(180deg);
        }

        &__vertical {
            transform: rotate(360deg);
        }
    }


    // Sub tiles in course work
    &__sub {
        margin-top: 2rem;
    

        &-tile {
            border-radius: $radius-small;
            display: grid;
            grid-template-columns: [col-1] 1rem [col-2] 3fr [col-3] 4fr [col-4];
            grid-template-rows: max(20rem);
            grid-auto-rows: 0;
            overflow: hidden;
            background-color: var(--color-white);

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &-line {
            height: 20rem;
            width: 1rem;
            background-color: var(--color-gray);
        }

        &-img {
            grid-column: col-2 / col-3;
            grid-row: 1 / 2;
            margin: 1.3rem;
            display: block;
            overflow: hidden;
            border-radius: $radius-small;

            img {
                width: 100%;
                filter: blur(.3rem) brightness(70%);

                .body--dark-mode & {
                    filter: blur(.4rem) brightness(110%);
                }
            }
        }

        // Heading over image
        &-heading {
            position: relative;
            grid-column: col-2 / col-3;
            grid-row: 1 / 2;

            display: grid;
            align-items: center;
            justify-content: center;
            z-index: 2;

            & > * {
                z-index: 20;
                color: var(--color-pure-white);
                text-shadow: 0 0 1.5rem var(--color-black);

                .body--dark-mode & {
                    color: #111;
                    text-shadow: 0 0 1.5rem var(--color-black-dark);
                }
            }
        }

        &-description {
            padding: 1.3rem 3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & h6 {
                padding-bottom: 1rem;
            }
        }
    }
}