// Academic section
.edu-tiles {
    margin-bottom: var(--section-space);
    display: grid;
    grid-template-columns: [first-col] 1fr [second-col] 1fr [third-col];

    @include respond($large) {
        grid-template-columns: [first-col] 4fr [second-col] 1fr [third-col];
        grid-template-rows: [first-row] min-content [second-row] 1fr [third-row];
    }

    @include respond($small) {
        grid-template-columns: 1fr;
    }

    &__container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, min-content);
        grid-column-gap: 5rem;
        grid-column: first-col / second-col;

        @include respond($large) {
            grid-column: 1 / -1;
        }

        @include respond($mid-small) {
            grid-gap: 3rem;
            grid-template-columns: repeat(auto-fit, minmax(40rem,  1fr));
        }
    }

    &__img {
        justify-self: end;
        align-self: end;
        grid-column: second-col / third-col;
        display: block;
        width: 70%;

        @include respond($large) {
            grid-row: first-row / second-row;
            grid-column: second-col / third-col;

        }

        @include respond($small) {
            grid-column: 1 / -1;
            justify-self: center;
            padding-bottom: 3rem;
            width: 30%;
        }
    }

    // Tile with academic degree
    &__tile {
        position: relative;
        border-radius: $radius;
        overflow: hidden;
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        font-family: $reading-font;
        color: var(--color-black);
        
        // blue border line
        &-border {
            background-color: var(--color-secondary);
            width: 1rem;
            height: 100rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        &-heading {
            position: relative;
            display: grid;
            grid-template-columns: max-content;
            justify-content: center;
            z-index: 20;
            margin: 3rem 4rem 2rem 0;
            padding: 1rem 3rem 1rem 7rem;
            border-radius: 0 $radius-small $radius-small 0;
            background-color: var(--color-white-dark);

            @include respond($mid-small) {
                margin-right: 3rem;
            }

        }

        &-college {
            display: flex;
            align-items: center;
            padding-left: 2rem;

            svg {
                display: block;
                padding-top: .3rem;
                padding-right: .5rem;
                height: 3.3rem;
                width: 3.3rem;
                fill: blue;
            }
        }

        &-name {
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: .05rem;
        }

        &-location {
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: .05rem;
        }

        &-duration {
            padding: 2rem;
            display: flex;
            align-items: center;
            padding-left: 2.3rem;

            & svg {
                display: block;
                padding-right: .6rem;
                height: 2.8rem;
                width: 2.8rem;
            }
        }

        &-date {
            font-size: 1.7rem;
        }

        &-list {
            margin: 2rem 3rem 2.5rem 4.3rem;
            list-style-image: url('/img/svg/list-svg.svg');

            line-height: 1.5;
            font-size: 1.6rem;

            & li {
                padding-bottom: 1rem;
            }
        }
    }
}

// Section holder for self-learning, front-end, back-end, and design.
.learning {
    padding-top: var(--section-space);

    &__container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        //padding: var(--section-space) 0 0;
        justify-content: space-between;
        grid-column-gap: 20rem;

        @include respond($large) {
            grid-column-gap: 7rem;
        }

        @include respond($mid-small) {
            grid-row-gap: 5rem;
            grid-column-gap: 0;
            grid-template-columns: auto;
        }

        @include respond($small) {
            grid-row-gap: 0;
        }

        & > * {
            grid-column: 1 / -1;
        }
    }

    // Section image
    &__img {
        grid-column: span 1;
        display: block;
        align-self: start;
        //padding: 0 10rem 0 0;
        width: 100%;   
        //grid-column: span 3;

        &:not(:first-child) {
            justify-self: end;
        }

        @include respond($mid-small) {
            width: 30%;
            grid-column: span 2;
            grid-row: 1 / 2;
            &:not(:first-child) {
                justify-self: center;
            }
            justify-self: center;
        }

        @include respond($mid-small) {
            margin-bottom: 3rem;
        }
    }

    // Section name
    &__heading {
        grid-column: span 1;

        &--centered {
            grid-column: 1 /-1;
            text-align: center;
        }
    }

    &__buttons {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, max-content);


        @include respond($small) {
            padding-left: 2rem;
            padding-right: 2rem;
            grid-gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            justify-content: center;
        }

        & > * {
            margin: 0 1rem 0 0;
            @include respond($small) {
                margin: 0;
                justify-content: center;
            }
        }
    }

    // Adding space
    &__spacing {
        margin-bottom: 3rem;

        @include respond($small-small) {
            margin-bottom: 6.3rem;
        }
    }

    // Centered heading buttons
    &__heading--centered &__buttons {
        justify-content: center;
        text-align: center;
    }
}